@using TahilBorsaMS.Models.Entity

@model List<tblEntryProduct>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">


    <h2>İşlem Bekleyen Liste</h2>
    <table class="table table-bordered">
        <tr>
            <th>Giriş Id</th>
            <th>Çiftçi Id</th>
            <th>Ürün Adı</th>
            <th>Miktarı</th>
            <th>Ürün Giriş Tarihi</th>
            <th>Besin Değerini Gir</th>
        </tr>

        @foreach (var l in Model)
        {
            <tr>

                <td>@l.Id</td>
                <td>@l.tblFarmerId</td>
                <td>@l.tblProduct.Name</td>
                <td>@l.Quantity</td>
                <td>@l.DateTime</td>
                <td><a href="/Labaratuar/AddLabData/" class="btn btn-warning">Besin Değerini Gir</a></td>
            </tr>
        }

    </table>
    

    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="~/Labaratuar/LabDataList/">Geçmiş Veriler</a>
    </div>

</div>


