@using TahilBorsaMS.Models.Entity

@model List<tblLabData>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">

    <h2>Yeni Veri Girişi</h2>

    <div class="my-5">
       <a class="btn btn-primary" href="~/Labaratuar/AddLabData">Yeni Veri Girişi</a>
    </div>

    <h2>Geçmiş Labaratuar Verileri</h2>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Giriş Id</th>
            <th>Ürün Adı</th>
            <th>Ürün Değeri</th>
            <th>Sahibi</th>
        </tr>

        @foreach (var l in Model)
        {
            <tr>

                <td>@l.Id</td>
                <td>@l.EntryProductId</td>
                <td>@l.tblEntryProduct.tblProductName.Name</td>
                <td>@l.NutritionalValue</td>
                <td>@l.tblEntryProduct.tblFarmer.FirstName +""+>@l.tblEntryProduct.tblFarmer.LastName </td>
              
            </tr>
        }

    </table>
</div>


