@model TahilBorsaJqeryAjax.Areas.Admin.Model.TradesmanModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <h2>Esnaf Paneli</h2>
        @if (TempData["ErrorMessages"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Hatalar:</strong>
                <ul>
                    @foreach (var errorMessage in (List<string>)TempData["ErrorMessages"])
                    {
                        <li>@errorMessage</li>
                    }
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <script>
                $(document).ready(function () {
                    setTimeout(function () {
                        $(".alert").alert("close");
                    }, 5000);
                });
            </script>
        }
        @if (ViewBag.SuccessTradesman != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>
                    @ViewBag.SuccessTradesman
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <script>
                $(document).ready(function () {
                setTimeout(function () {
                $(".alert").alert("close");
                }, 5000);
                });
            </script>
        }
        @*Arama işlem penceresi*@
        <div class="form-control input-group row align-items-center">
            <div class="col-md-4">  <input id="searchBox" class="form-control" placeholder="Çiftçi Ara" /></div>
            <div class="col-md-2"><button id="searchButton" class="btn btn-outline-primary">Ara</button></div>
        </div>

        <table id="tradesmanTable" class="table table-bordered table-striped">
            <tr class="table-info">
                <th>Kayıt No</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Kimlik No</th>
                <th>İletişim</th>
                @*<th>Şehir</th>*@
                <th>İlçe</th>
                <th>Mahalle/Köy</th>
                <th>Adres</th>
                <th>Sil</th>
                <th>Güncelle</th>

            </tr>
            <tbody id="tableBody">
            </tbody>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Sil</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Esnaf Kaydını Silmek İstiyor musunuz ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                            <button class="btn btn-danger" onclick="DeleteTradesman()">Sil</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Rol Bilgileri</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <div class="modal-body">
                            @using (Html.BeginForm("Index", "Tradesman"))
                            {
                                <form class="form form-control container mt-5" method="post">
                                    <h1>Esnaf Bilgilerini Güncelle</h1>
                                    <br />
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Esnaf Kayıt No</label>
                                            <input type="text" readonly id="Id" name="Id" class="form-control" />
                                        </div>
                                        <input type="hidden" name="AddressId" />
                                        <div class="col-6">
                                            <label>Doğum Tarihi</label>
                                            <input type="date" id="BirthDate" name="Birthdate" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.BirthDate,"", new{@class="text-danger"})

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Adı</label>
                                            <input type="text" id="FirstName" name="FirstName" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.FirstName,"", new{@class="text-danger"})
                                        </div>
                                        <div class="col-6">
                                            <label>Soyadı</label>
                                            <input type="text" id="LastName" name="LastName" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.LastName,"", new{@class="text-danger"})

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Kimlik No</label>
                                            <input type="text" id="IdentityNo" name="IdentityNo" class="form-control" />
                                        </div>
                                        @if (!string.IsNullOrEmpty(ViewBag.FarmerError))
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @ViewBag.TradesmanError
                                            </div>

                                        }
                                        <div class="col-6">
                                            <label>İletişim</label>
                                            <input type="text" id="Contact" name="Contact" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.Contact,"", new{@class="text-danger"})

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Şehir</label>
                                            <select id="cityDropdown" name="tblCityId" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>İlçe</label>
                                            <select id="districtDropdown" name="tblDistrictId" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>Mahalle/Köy</label>
                                            <input type="text" id="neighborhoodName" name="NeighborhoodName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Çiftçi Adres</label>
                                                <input type="text" id="FullAddress" name="FullAddress" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </form>
                            }
                        </div>


                    </div>
                </div>
            </div>

        </table>
        <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pagination" id="paginationContainer">
            <!-- Sayfalama bağlantıları buraya eklenecek -->
        </div>



    </div>
    <button onclick="NewTradesman()" class="btn btn-primary">Yeni Esnaf Kaydı Oluştur</button>
</div>

<script>

    let SelectedTradesmanId = 0;
    let SelectedAddressId = 0;

    let currentPage = 1;
    const itemsPerPage = 10;

    var searchBox = $("#searchBox");
    var searchButton = $("#searchButton");

    function getTradesman() {
        fetchData("Tradesman/Tradesmans", function (response) {
            const totalPages = Math.ceil(response.length / itemsPerPage);

            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const currentPageData = response.slice(startIndex, endIndex);

            updateTable(currentPageData);

            uptadePagination(totalPages);

        });
    }

    function updateTable(data) {
        const tbody = $("#tableBody");
        tbody.empty();

        $.each(data, function (index, t) {

            var row = $("<tr>");
            row.append($("<td>").text(t.id));
            row.append($("<td>").text(t.firstName));
            row.append($("<td>").text(t.lastName));
            row.append($("<td>").text(t.identityNo));
            row.append($("<td>").text(t.contact));
            //row.append($("<td>").text(t.tblAddress.tblCityName));
            row.append($("<td>").text(t.tblAddress.tblDistrict.name));
            row.append($("<td>").text(t.tblAddress.neighborhoodName));
            row.append($("<td>").text(t.tblAddress.fullAddress));
            row.append($("<td>").html(`<button type="button" data-tradesman-id="${t.id}"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Sil</button>`));
            row.append($("<td>").html(`<button onClick="EditTradesman(
                                                    '${t.id}',
                                                    '${t.identityNo}',
                                                    '${t.birthDate}',
                                                    '${t.contact}',
                                                    '${t.firstName}',
                                                    '${t.lastName}',
                                                    '${t.tblAddress.fullAddress}',
                                                    '${t.tblAddress.tblCityId}',
                                                    '${t.tblAddress.tblDistrictId}',
                                                    '${t.tblAddress.neighborhoodName}',
                                                    '${t.tblAddressId}'
                                                )" class="btn btn-success">Güncelle</button>
                                                `));

            tbody.append(row);
        });
    }
    // TODO sayfada kaç veri olsun seçeneğini değişkene bağlayıp sayda seçtir
    function uptadePagination(totalPages) {
        const paginationContainer = $("#paginationContainer");
        paginationContainer.empty();

        //sayfalama bağlantıları

        for (let i = 1; i <= totalPages; i++) {
            const link = $("<button>").text(i).addClass("page-link");
            if (i === currentPage) {
                link.addClass("active");
            } else {
                link.click(() => {
                    currentPage = i;
                    getTradesman();
                });
            }
            paginationContainer.append($("<li>").addClass("page-item").append(link));
        }
    }

    function performSearch() {
        fetchData("Tradesman/Tradesmans", function (response) {
            const searchTerm = searchBox.val().toLowerCase();
            const filteredData = response.filter(function (t) {
                return (
                    t.firstName.toLowerCase().includes(searchTerm) ||
                    t.lastName.toLowerCase().includes(searchTerm)
                );
            });
            const totalPages = Math.ceil(filteredData.length / itemsPerPage);

            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const currentPageData = filteredData.slice(startIndex, endIndex);

            updateTable(currentPageData);
            updatePagination(totalPages);
        });
    }
    //entera basınca ara
    searchBox.keypress(function (event) {
        if (event.which === 13) {
            performSearch();
        }
    })
    //ara buttonuna basınca ara
    searchButton.click(function () {
        performSearch();
    });



    function NewTradesman() {
        SelectedTradesmanId = 0;
        SelectedAddressId = 0;
        $('#IdentityNo').val("");
        $("#BirthDate").val("");
        $('#Contact').val("");
        $('#FirstName').val("");
        $('#LastName').val("");
        $('#FullAddress').val("");
        $('#cityDropdown').val("");
        $('#districtDropdown').val("");
        $('#neighborhoodName').val("")
        $("#rolModal").modal("show");
    }

    function AddTradesman() {
        var tr = {
            Id: SelectedTradesmanId,
            AddressId: SelectedAddressId,
            IdentityNo: $('#IdentityNo').val(),
            BirthDate: $("#BirthDate").val(),
            Contact: $('#Contact').val(),
            FirstName: $('#FirstName').val(),
            LastName: $('#LastName').val(),
            FullAddress: $('#FullAddress').val(),
            tblCityId: $('#cityDropdown').val(),
            tblDistrictId: $('#districtDropdown').val(),
            NeighborhoodName: $('#neighborhoodName').val()
        };
        //postData("Tradesman/EsnafEkle", tr, (data) => {
        //    getTradesman();
        //    $("#rolModal").modal("hide");

        //});

    }


    //Delete İşlemi
    $("#exampleModal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Tetikleyici düğme
        var tradesmanId = button.data("tradesman-id"); // data-tradesman-id değeri

        // Sil butonuna tıklama işlemini ayarla
        var deleteButton = $("#exampleModal").find(".btn-danger"); // Sil butonunu seç
        deleteButton.off("click").on("click", function () {
            DeleteTradesman(tradesmanId);
        });
    });

    function DeleteTradesman(id) {

        deleteData(`Tradesman/Delete/${id}`, (model) => {

            $("#exampleModal").modal("hide");
            $(".modal-backdrop").remove();
            getTradesman();
        });

    }

    //Model açılınca il ve ilçelerin listelenmesi

    //İller ve ilçeler base func
    $("#rolModal").on("show.bs.modal", function () {

        fetchData("City/AllCity", (response) => {

            console.log("veri :", response)
            var cityDropdown = $("#cityDropdown");

            $.each(response, function (index, city) {
                cityDropdown.append($("<option>").val(city.id).text(city.name));
            });
        });

        //Seçilen ile göre ilçeleri listeleme
        $("#cityDropdown").change(function () {

            var selectedCityId = $(this).val();
            fetchData(`District/${selectedCityId}`, (data) => {

                console.log("İlçe data", data)
                var districtDropdown = $("#districtDropdown");
                districtDropdown.empty();
                districtDropdown.append($("<option>").val("").text("İlçe Seçiniz"));

                $.each(data, function (index, district) {
                    districtDropdown.append($("<option>").val(district.id).text(district.name));
                });
            });

        });
    });


    //Edit kısmı
    function EditTradesman(id, identityNo, birthDate, contact, firstName, lastName,
        fullAddress, tblCityId, tblDistrictId, neighborhoodName, tblAddressId) {

        SelectedTradesmanId = id;
        SelectedAddressId = tblAddressId;
        const formattedDate = moment(birthDate).format('YYYY-MM-DD');

        console.log("selectekıd", SelectedAddressId);
        $('#IdentityNo').val(identityNo);
        $('#Id').val(id);
        $("#BirthDate").val(formattedDate);
        $('#Contact').val(contact);
        $('#FirstName').val(firstName);
        $('#LastName').val(lastName);
        $('#FullAddress').val(fullAddress);
        $('#cityDropdown').val(tblCityId);
        $('#districtDropdown').val(tblDistrictId);
        $('#neighborhoodName').val(neighborhoodName);
        $("#rolModal").modal("show");
    }





    $(document).ready(function () {
        getTradesman();


    })

</script>


