@model TahilBorsaJqeryAjax.Areas.Admin.Model.TradesmanModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <h2>Esnaf Paneli</h2>
        @if (TempData["ErrorMessages"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Hatalar:</strong>
                <ul>
                    @foreach (var errorMessage in (List<string>)TempData["ErrorMessages"])
                    {
                        <li>@errorMessage</li>
                    }
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <script>
                $(document).ready(function () {
                    setTimeout(function () {
                        $(".alert").alert("close");
                    }, 5000);
                });
            </script>
        }
        @if (ViewBag.SuccessTradesman != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>
                    @ViewBag.SuccessTradesman
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <script>
                $(document).ready(function () {
                setTimeout(function () {
                $(".alert").alert("close");
                }, 5000);
                });
            </script>
        }  
        @if (ViewBag.TradesmanError != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                    @ViewBag.TradesmanError
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <script>
                $(document).ready(function () {
                setTimeout(function () {
                $(".alert").alert("close");
                }, 5000);
                });
            </script>
        }
        @*Arama işlem penceresi*@
        <div class="form-control input-group row align-items-center">
            <div class="col-md-4">  <input id="searchBox" class="form-control" placeholder="Esnaf Ara" /></div>
            <div class="col-md-2"><button id="searchButton" class="btn btn-outline-primary">Ara</button></div>
        </div>

        <table id="tradesmanTable" class="table table-bordered table-striped">
            <tr class="table-info">
                <th>Kayıt No</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Kimlik No</th>
                <th>İletişim</th>
                @*<th>Şehir</th>*@
                <th>İlçe</th>
                <th>Mahalle/Köy</th>
                <th>Adres</th>
                <th>Sil</th>
                <th>Güncelle</th>

            </tr>
            <tbody id="tableBody">
            </tbody>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Sil</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Esnaf Kaydını Silmek İstiyor musunuz ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                            <button class="btn btn-danger" onclick="DeleteTradesman()">Sil</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Esnaf Bilgileri</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <div class="modal-body">
                            @using (Html.BeginForm("Index", "Tradesman"))
                            {
                                <form class="form form-control container mt-5" method="post">
                                    <h1>Esnaf Bilgilerini Güncelle</h1>
                                    <br />
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Esnaf Kayıt No</label>
                                            <input type="text" readonly id="Id" name="Id" class="form-control" />
                                        </div>
                                        <input type="hidden" name="AddressId" />
                                        <div class="col-6">
                                            <label>Doğum Tarihi</label>
                                            <input type="date" id="BirthDate" name="Birthdate" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.BirthDate,"", new{@class="text-danger"})

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Adı</label>
                                            <input type="text" id="FirstName" name="FirstName" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.FirstName,"", new{@class="text-danger"})
                                        </div>
                                        <div class="col-6">
                                            <label>Soyadı</label>
                                            <input type="text" id="LastName" name="LastName" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.LastName,"", new{@class="text-danger"})

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Kimlik No</label>
                                            <input type="text" id="IdentityNo" name="IdentityNo" class="form-control" />
                                        </div>
                                        @if (!string.IsNullOrEmpty(ViewBag.FarmerError))
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @ViewBag.TradesmanError
                                            </div>

                                        }
                                        <div class="col-6">
                                            <label>İletişim</label>
                                            <input type="text" id="Contact" name="Contact" class="form-control" />
                                            @Html.ValidationMessageFor(x=>x.Contact,"", new{@class="text-danger"})

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Şehir</label>
                                            <select id="cityDropdown" name="tblCityId" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>İlçe</label>
                                            <select id="districtDropdown" name="tblDistrictId" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label>Mahalle/Köy</label>
                                            <input type="text" id="neighborhoodName" name="NeighborhoodName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Adres</label>
                                                <input type="text" id="FullAddress" name="FullAddress" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </form>
                            }
                        </div>


                    </div>
                </div>
            </div>

        </table>
        <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pagination" id="paginationContainer">
            <!-- Sayfalama bağlantıları buraya eklenecek -->
        </div>



    </div>
    <button onclick="NewTradesman()" class="btn btn-primary">Yeni Esnaf Kaydı Oluştur</button>
</div>

<script src="~/js/admin/tradesman.js"></script>

