@model TahilBorsaMS.Models.Entity.tblTradesman

@{
    ViewBag.Title = "AddTradesman";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-control container" method="post">

    <label>Adı</label>
    @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })
    <label>Soyadı</label>
    @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
    <label>Kimlik No</label>
    @Html.TextBoxFor(p => p.IdentityNo, new { @class = "form-control" })
    <label>Şehir</label>
    @*Vievbagla iki farklı tasıma yontemi aşagıda*@
    @Html.DropDownListFor(P => P.tblAddress.tblDistrict.tblCity.Id, ViewBag.CityList as IEnumerable<SelectListItem>, new { @class = "form-control" })
    <label>İlçe</label>
    @Html.DropDownListFor(P => P.tblAddress.tblDistrict.Id, (List<SelectListItem>)ViewBag.District, new { @class = "form-control" })
    <label>Mahalle/Köy</label>
    @Html.TextBoxFor(p => p.tblAddress.NeighborhoodName, new { @class = "form-control" })
    <label>Adres</label>
    @Html.TextBoxFor(p => p.tblAddress.FullAddress, new { @class = "form-control" })
    <label>İletişim</label>
    @Html.TextBoxFor(p => p.Contact, new { @class = "form-control" })
    @*<label>Doğum Tarihi</label>
        @Html.TextBoxFor(p => p.BirthDate, new { @class = "form-control", placeholder = "gg/aa/yyyy" })*@




    <button type="submit" class="btn my-3 btn-warning">Esnaf Bilgilerini Ekle</button>
</form>
