@model TahilBorsaMS.Models.Entity.tblTradesman
@{
    ViewBag.Title = "CallTradesman";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("EditTradesman", "Tradesman", FormMethod.Post))
{
    <div class="form form-control container">

        <h1>Ensaf Bilgilerini Güncelle</h1>
        <br />
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label>Çiftçi Kayıt Nu</label>
                    @Html.TextBoxFor(p => p.Id, new { @class = "form-control" })
                </div>
                <div class="col-6">
                    <label>Doğum Tarihi</label>
                    <input type="date" name="Birthdate" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Adı</label>
                    @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })
                </div>
                <div class="col-6">
                    <label>Soyadı</label>
                    @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Kimlik No</label>
                    @Html.TextBoxFor(p => p.IdentityNo, new { @class = "form-control" })
                </div>
                <div class="col-6">
                    <label>İletişim</label>
                    @Html.TextBoxFor(p => p.Contact, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Şehir</label>
                    @Html.DropDownListFor(p => p.tblAddress.tblCityId, ViewBag.CityList as IEnumerable<SelectListItem>, "Şehir Seçin", new { @class = "form-control" })
                </div>
                <div class="col-4">
                    <label>İlçe</label>
                    @Html.DropDownListFor(p => p.tblAddress.tblDistrictId, ViewBag.DistrictList as IEnumerable<SelectListItem>, "İlçe Seçin", new { @class = "form-control" })
                </div>
                <div class="col-4">
                    <label>Mahalle/Köy</label>
                    @Html.TextBoxFor(p => p.tblAddress.NeighborhoodName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Çiftçi Adres</label>
                        @Html.TextBoxFor(p => p.tblAddress.FullAddress, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <button class="btn my-3 btn-warning">Esnaf Bilgilerini Güncelle</button>
    </div>
}

