@model TahilBorsaMS.Models.Entity.tblTradesman
@{
    ViewBag.Title = "CallTradesman";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("EditTradesman", "Tradesman", FormMethod.Post))
{
    <div class="form form-control container">

        <h1>Ensaf Bilgilerini Güncelle</h1>
        <br />
        <label>Id</label>
        @Html.TextBoxFor(p => p.Id, new { @class = "form-control" })
        <label>Adı</label>
        @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })
        <label>Soyadı</label>
        @Html.TextAreaFor(p => p.LastName, new { @class = "form-control" })
        <label>Kimlik No</label>
        @Html.TextBoxFor(p => p.IdentityNo, new { @class = "form-control" })
        <label>Şehir</label>
        @Html.DropDownListFor(p => p.tblAddress.CityId, ViewBag.CityList as IEnumerable<SelectListItem>, "Şehir Seçin", new { @class = "form-control" })
        <label>İlçe</label>
        @Html.DropDownListFor(p => p.tblAddress.DistrictId, ViewBag.DistrictList as IEnumerable<SelectListItem>, "İlçe Seçin", new { @class = "form-control" })
        <label>Mahalle/Köy</label>
        @Html.TextBoxFor(p => p.tblAddress.NeighborhoodName, new { @class = "form-control" })
        <label>Çiftçi Adres</label>
        @Html.TextBoxFor(p => p.tblAddress.FullAddress, new { @class = "form-control" })
        <label>İletişim</label>
        @Html.TextBoxFor(p => p.Contact, new { @class = "form-control" })

        <button class="btn my-3 btn-warning">Esnaf Bilgilerini Güncelle</button>
    </div>
}