@using TahilBorsaMS.Models.Entity
@model List<tblEntryProduct>
@{
    ViewBag.Title = "EntryProductList";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <h2>Geçmiş Ürün Girdileri</h2>

    @using (Html.BeginForm("EntryProductList", "EntryProduct", FormMethod.Get))
    {<div class="form-control input-group mb-3">
            @Html.TextBox("e", null, new { @class = "form-control", placeholder = "Çiftçi Kimlik No Ara" })
            <button class="btn btn-outline-primary">Ara</button>
        </div>
    }

    <table class="table table-bordered table-striped">
        <tr class="table-danger">
            <th>Id</th>
            <th>Çiftçi Adı</th>
            <th>Çiftçi Kimlik no</th>
            <th>Ürün Çeşidi</th>
            <th>Tarihi</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.Id</td>
                <td>@k.tblFarmer.FirstName&nbsp;@k.tblFarmer.LastName</td>
                <td>@k.tblFarmer.IdentityNo</td>
                <td>@k.tblProduct.Name</td>
                <td>@k.DateTime</td>
            </tr>
        }
    </table>
    <div>
        <a class="btn btn-info" href="/EntryProduct/Index">Geri</a>
    </div>
</div>