@model TahilBorsaJqeryAjax.Areas.Admin.Model.LabaratuarModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">


    <h2>İşlem Bekleyen Liste</h2>
    @if (TempData["ErrorMessagesLab"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Hatalar:</strong>
            <ul>
                @foreach (var errorMessage in (List<string>)TempData["ErrorMessagesLab"])
                {
                    <li>@errorMessage</li>
                }
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert("close");
                }, 5000);
            });
        </script>
    }
    @if (ViewBag.ErrorLab != null || ViewBag.NatError !=null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
                @ViewBag.ErrorLab
                @ViewBag.NatError
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert("close");
                }, 5000);
            });
        </script>
    }
    @if (ViewBag.SuccessLab != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @ViewBag.SuccessLab
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert("close");
                }, 5000);
            });
        </script>
    }

    <table class="table table-bordered table-striped">
        <tr class="table-info">
            <th>Ürün Giriş No</th>
            <th>Çiftçi Kayıt no</th>
            <th>Çiftçi Adı Soyadı</th>
            <th>Ürün Adı</th>
            <th>Ürün Giriş Tarihi</th>
            <th>Besin Değerini Gir</th>
        </tr>

        <tbody id="tableBody">
        </tbody>

    </table>
    <div class="d-flex justify-content-center pagination" id="paginationContainer">
        <!-- Sayfalama bağlantıları buraya eklenecek -->
    </div>

    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="~/Admin/Labaratuar/LabDataList/">Geçmiş Veriler</a>
    </div>
    <div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("Index", "Labaratuar"))
                {
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Besin Değeri</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form class="form form-control container mt-5" method="post">
                            <h1>Ürün Besin Değeri Girişi</h1>
                            <br />
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>Ürün Giriş Kayıt No</label>
                                    <input type="text" readonly id="EntryProductId" name="EntryProductId" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label>Ürün Adı</label>
                                    <input type="text" id="ProductName" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label>Ürün Besin Değeri</label>
                                    <input type="text" id="NutritionalValue" name="NutritionalValue" class="form-control" />
                                    @Html.ValidationMessageFor(x=>x.NutritionalValue,"",new {@class="text-danger"})
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                <button type="submit" onclick="AddLabData()" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script>

    let currentPage = 1;
    const itemsPerPage = 10;
    let selectedEntryProductId = 0;

    function getEntryProduct() {

        fetchData("Labaratuar/ReadyLab", function (response) {

            console.log("ReadyLab data", response);

            const totalPages = Math.ceil(response.length / itemsPerPage);

            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const currentPageData = response.slice(startIndex, endIndex);

            updateTable(currentPageData);

            uptadePagination(totalPages);




        });
    }


    function updateTable(response) {
        const tbody = $("#tableBody");
        tbody.empty();
        $.each(response, function (index, t) {
            var row = $("<tr>");
            row.append($("<td>").text(t.entryProductId));
            row.append($("<td>").text(t.farmerId));
            row.append($("<td>").text(`${t.farmerName} ${t.farmerLastName}`));
            row.append($("<td>").text(t.name));
            row.append($("<td>").text(t.dateTime));
            row.append($("<td>").html(`<button data-bs-toggle="modal" data-bs-target="#rolModal" onClick="OpenLab(
                                                            '${t.entryProductId}',
                                                            '${t.name}'
                                                        )" class="btn btn-success">Değer Gir</button>
                                                        `));

            tbody.append(row);
        });

    }
    // TODO sayfada kaç veri olsun seçeneğini değişkene bağlayıp sayda seçtir
    function uptadePagination(totalPages) {
        const paginationContainer = $("#paginationContainer");
        paginationContainer.empty();

        //sayfalama bağlantıları

        for (let i = 1; i <= totalPages; i++) {
            const link = $("<button>").text(i).addClass("page-link");
            if (i === currentPage) {
                link.addClass("active");
            } else {
                link.click(() => {
                    currentPage = i;
                    getEntryProduct();
                });
            }
            paginationContainer.append($("<li>").addClass("page-item").append(link));
        }
    }


 

    function OpenLab(entryProductId, name) {
        selectedEntryProductId = entryProductId;

        $('#EntryProductId').val(selectedEntryProductId);
        $("#ProductName").val(name);
    }

    function EditEntryProduct(entryProductId, farmerId, dateTime, productId) {
        $("#rolModal").modal("show");

        selectedEntryProductId = entryProductId;
        console.log("Edit Kısmı Entryproduct Id", selectedEntryProductId);

        //moment.js kütüphanesi kullanıldı

        const formattedDate = moment(dateTime).format('YYYY-MM-DD');
        console.log("cekilen veri dogum tarıhı", formattedDate)

        $('#FarmerId').val(farmerId);
        $('#EntryProductId').val(selectedEntryProductId);
        $("#ProductId").val(productId);
        $('#DateTime').val(formattedDate);

    }

    //Model açılınca ürünler gelsin
    $("#rolModal").on("show.bs.modal", function () {

        fetchData("Product/TumUrunler", function (response) {

            console.log("veri :", response)
            var tblProductIdDropdown = $("#ProductId");

            $.each(response, function (index, product) {
                tblProductIdDropdown.append($("<option>").val(product.id).text(product.name));
            });
        });
    });



    $(document).ready(function () {
        getEntryProduct();
    })

</script>