@model TahilBorsaJqeryAjax.Areas.Admin.Model.LabaratuarModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">


    <h2>İşlem Bekleyen Liste</h2>
    @if (TempData["ErrorMessagesLab"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Hatalar:</strong>
            <ul>
                @foreach (var errorMessage in (List<string>)TempData["ErrorMessagesLab"])
                {
                    <li>@errorMessage</li>
                }
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert("close");
                }, 5000);
            });
        </script>
    }
    @if (ViewBag.ErrorLab != null || ViewBag.NatError !=null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
                @ViewBag.ErrorLab
                @ViewBag.NatError
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert("close");
                }, 5000);
            });
        </script>
    }
    @if (ViewBag.SuccessLab != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @ViewBag.SuccessLab
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert("close");
                }, 5000);
            });
        </script>
    }

    <table class="table table-bordered table-striped">
        <tr class="table-info">
            <th>Ürün Giriş No</th>
            <th>Çiftçi Kayıt no</th>
            <th>Çiftçi Adı Soyadı</th>
            <th>Ürün Adı</th>
            <th>Ürün Giriş Tarihi</th>
            <th>Besin Değerini Gir</th>
        </tr>

        <tbody id="tableBody">
        </tbody>

    </table>
    <div class="d-flex justify-content-center pagination" id="paginationContainer">
        <!-- Sayfalama bağlantıları buraya eklenecek -->
    </div>

    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="~/Admin/Labaratuar/LabDataList/">Geçmiş Veriler</a>
    </div>
    <div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("Index", "Labaratuar"))
                {
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Besin Değeri</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form class="form form-control container mt-5" method="post">
                            <h1>Ürün Besin Değeri Girişi</h1>
                            <br />
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>Ürün Giriş Kayıt No</label>
                                    <input type="text" readonly id="EntryProductId" name="EntryProductId" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label>Ürün Adı</label>
                                    <input type="text" id="ProductName" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label>Ürün Besin Değeri</label>
                                    <input type="text" id="NutritionalValue" name="NutritionalValue" class="form-control" />
                                    @Html.ValidationMessageFor(x=>x.NutritionalValue,"",new {@class="text-danger"})
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                <button type="submit" onclick="AddLabData()" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/admin/labaratuar.js"></script>