@model TahilBorsaMS.Models.Entity.tblSale

@{
    ViewBag.Title = "CallSale";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateSale", "Sale", FormMethod.Post))
{
    <div class="container mt-5">

        <div class="form-control">
            <h1>Satış Gerçekleştir/Güncelle</h1>
            <br />
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <label>Satış No</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label>Ürün Giriş No</label>
                        @Html.TextBoxFor(x => x.tblEntryProductId, new { @class = "form-control", @readonly = "readonly" })
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Ürün Başlangıç Fiyatı</label>
                        @Html.TextBoxFor(x => x.BasePrice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BasePrice, "", new { @class = "text-danger" })
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label>Ürün Satış Gerçekleşen Fiyatı</label>
                        @Html.TextBoxFor(x => x.ActualPrice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ActualPrice, "", new { @class = "text-danger" })
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Ürün Miktarı Kg</label>
                        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label>Satın Alan Esnaf Numarası</label>
                        @Html.TextBoxFor(x => x.tblTradesmanId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tblTradesmanId, "", new { @class = "text-danger" })
                        <br />
                    </div>
                </div>
                <label>Tarih</label>
                <div class="row"> <div class="col-md-12"><input name="Date" type="datetime" value="@DateTime.Now.ToShortDateString()" class="form-control" /></div></div>
            </div>
            <br />
            <input type="hidden" value="true" name="Process" />
            <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-lg">Satışı Gerçekleştir</button>
        </div>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Sil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Satışı Onaylamak İstiyor musunuz ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-success">Onayla</button>
                </div>
            </div>
        </div>
    </div>
}